* {
    box-sizing:border-box;
  }

  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }  
  
  .container-home {
    padding: 64px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both
  }

  .column-66 {
    float: left;
    width: 60%;
    padding: 20px;
  }
  
  .column-33 {
    float: left;
    width: 40%;
    padding: 20px;
  }
  
  .large-font {
    font-size: 48px;
  }
  
  .xlarge-font {
    font-size: 64px
  }
  .medium-font {
    font-size: 35px
  }
  .small-font{
    font-size: 25px;
  }
  
  .button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #04AA6D;
  }
  
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
.navbar-toggler-icon {
    background-image: beige;
  }
  

  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
    .large-font {
    font-size: 30px;
    }
    .xlarge-font {
    font-size: 48px
    }
    .medium-font {
    font-size: 20px
    }

  }
  

  

  