{% extends "layout/base.html" %}
{% block title %}{{ app_data['html_title'] }}{% endblock %}



{% block content %}
<main role="main" class="container">
  <div class="container">
    <div class="starter-template">
      <hr style="padding-top: 100px;">
      <div class="jumbotron">

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="alert alert-danger" role="alert">
                There was a problem with the prediction!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</main>
{% endblock %}