{% extends "layout/base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="static/css/style.css">{% endblock %}

{% block content %}
<main role="main" class="container">
    <div class="container">
        <div class="starter-template">
            <hr style="padding-top: 100px;">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <form method="POST" action="" enctype="multipart/form-data">
                                <div class="form-group">
                                    <h1 class="small-font" style="color:MediumSeaGreen;"><b>Personalize Your
                                            Playlist</b></h1>
                                    <input class="form-control" type="text" name="playlist_uri"
                                        placeholder="Enter Spotify Playlist Link" style="margin-top: 10px;">
                                    <select name="mood_selection" class="form-control" aria-label="Default select example" style="margin-top: 10px;">
                                        <option selected>What Mood Do You Want?</option>
                                        <option value="energetic">Energetic</option>
                                        <option value="happy">Happy</option>
                                        <option value="sad">Sad</option>
                                        <option value="calm">Calm</option>
                                    </select>
                                    <button type="submit" class="button" value="Submit" style="margin-top: 10px;">GO</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    {% if show_data %}
                    <hr style="padding-top: 50px;">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Playback</th>
                                    <th scope="col">Album Title</th>
                                    <th scope="col">Track Title</th>
                                    <th scope="col">Artists</th>
                                    <th scope="col">Duration</th>
                                  </tr>
                                </thead>
                                <tbody >
                                  {% for track in tracks %}
                                  <tr class="align-middle">
                                    <td style="vertical-align: middle"><iframe src="https://open.spotify.com/embed/track/{{track['track_id']}}" 
                                        width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                    </td>
                                    <th scope="row" style="vertical-align: middle">{{track['album_name']}}</th>
                                    <td style="vertical-align: middle">{{track['track_name']}}</td>
                                    <td style="vertical-align: middle">
                                        {% for artist in track['track_artists'] %}
                                        {{artist['name']}}
                                        {% endfor %}
                                    </td>
                                    <td style="vertical-align: middle">{{track['track_duration']}} min</td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>                    
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}